
.header {
  padding: 20px 0;
}

.link_logo {
  background-color: teal;
  width: 200px;
  height: 40px;
  display: block;
}

.exit {
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  font-weight: 700;
}
.login {
  background-color: green;
  color: #fff;
  padding: 5px 10px;
  font-weight: 700;
}